/* Last Updated M-D-YYYY */

aside {
    float: right;
}

article {
    float: left;
    overflow: auto;
}

footer {
    clear: both;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

form span {
    float: left;
}